*.lo
*.o
*.a
Makefile
Makefile.in
~*
*.gmo
src/.*
data/.*
doc/.*
po/.*
*.libs
*.deps
data/*.desktop
po/POTFILES
src/qalculate-gtk
aclocal.m4
autom4te*
config.h
config.h.in
config.log
config.status
configure
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
stamp-h
stamp-h1
