[Desktop Entry]
Name=Qalculate!
Comment=Powerful and easy to use calculator
Exec=qalculate.gtk
Icon=${SNAP}/meta/gui/qalculate.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Application;Utility;Calculator;Science;Math;Education;
